<div class="tweet-form-container">
  <!-- Debug: Form rendering -->
  <% if Rails.env.development? %>
    <div style="display: none;">Rendering tweet form</div>
  <% end %>

  <% if @tweet.origin.present? %>
    <% if @tweet.is_retweet? %>
      <%= form_with model: @tweet, local: true, class: 'tweet-form' do |form| %>
        <%= render 'tweets/error_messages', tweet: @tweet %>
        <%= form.hidden_field :origin_id, value: @tweet.origin.id %>

        <div>
          <%= form.label :body, t('tweets.add_comment_retweet'), class: 'tweet-label' %>
          <%= form.text_area :body, placeholder: t('tweets.share_thoughts'), class: 'tweet-textarea', maxlength: 280, data: { controller: "auto-resize", action: "input->auto-resize#resize" } %>
        </div>

        <div>
          <%= form.submit t('tweets.quote'), class: 'tweet-submit' %>
        </div>
      <% end %>
    <% else %>
      <%= form_with model: @tweet, local: true, class: 'tweet-form' do |form| %>
        <%= render 'tweets/error_messages', tweet: @tweet %>
        <%= form.hidden_field :origin_id, value: @tweet.origin.id %>

        <div>
          <%= form.label :body, t('tweets.add_comment'), class: 'tweet-label' %>
          <%= form.text_area :body, placeholder: t('tweets.share_thoughts'), class: 'tweet-textarea', maxlength: 280, data: { controller: "auto-resize", action: "input->auto-resize#resize" } %>
        </div>

        <div>
          <%= form.submit @tweet.new_record? ? t('tweets.quote') : t('tweets.update_quote'), class: 'tweet-submit' %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <%= form_with model: @tweet, local: true, class: 'tweet-form' do |form| %>
      <%= render 'tweets/error_messages', tweet: @tweet %>

      <div>
        <%= form.label :body, t('tweets.content'), class: 'tweet-label' %>
        <%= form.text_area :body, placeholder: t('tweets.share_thoughts'), class: 'tweet-textarea', maxlength: 280, data: { controller: "auto-resize", action: "input->auto-resize#resize" } %>
      </div>

      <div>
        <%= form.submit @tweet.new_record? ? t('tweets.post') : t('tweets.update'), class: 'tweet-submit' %>
      </div>
    <% end %>
  <% end %>
</div>
