<li class="tweet-item">
  <div class="tweet-username">
    <%= tweet.user.present? ? tweet.user.username : "Deleted User" %>
  </div>
  <p class="tweet-body"><%= tweet.body %></p>
  <small class="tweet-time">
  Untweeted on <%= l(tweet.created_at, format: :long) %>
  <% if tweet.updated_at != tweet.created_at %>
    <br>Updated on <%= l(tweet.updated_at, format: :long) %>
  <% end %>
</small>
  <div class="tweet-ud-links">
    <% if tweet&.user&.id == current_user&.id %>
      <%= link_to 'Edit', edit_tweet_path(tweet), class: 'tweet-edit' %>
      <%= form_with(model: tweet, url: tweet_path(tweet), method: :delete, local: true) do %>
      <%= button_to 'Delete', tweet_path(tweet), method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this tweet?' }, class: 'tweet-delete' %>      <% end %>
    <% end %>
  </div>
</li>
