<div class="tweet-form-container">
  <% if @tweet.origin.present? %>
    <%= form_with model: @tweet, url: create_quote_tweet_path(@tweet.origin), local: true, class: 'tweet-form' do |form| %>
      <%= render 'tweets/error_messages' %>
      <%= form.hidden_field :origin_id, value: @tweet.origin.id %>

      <div>
        <%= form.label :body, 'Add a comment', class: 'tweet-label' %>
        <%= form.text_area :body, placeholder: 'Share your thoughts on this tweet', class: 'tweet-textarea', maxlength: 280 %>
      </div>

      <div>
        <%= form.submit 'Quote Tweet', class: 'tweet-submit' %>
      </div>
    <% end %>
  <% else %>
    <%= form_with model: @tweet, local: true, class: 'tweet-form' do |form| %>
      <%= render 'tweets/error_messages' %>

      <div>
        <%= form.label :body, 'What\'s happening?', class: 'tweet-label' %>
        <%= form.text_area :body, placeholder: 'Share your thoughts', class: 'tweet-textarea', maxlength: 280 %>
      </div>

      <div>
        <%= form.submit 'Tweet', class: 'tweet-submit' %>
      </div>
    <% end %>
  <% end %>
</div>
