<li class="tweet-item" data-controller="dropdown">
  <% if tweet.is_retweet? %>
    <div class="tweet-retweet-banner">
      <span class="tweet-retweet-icon">↪</span>
      <span class="tweet-retweet-text">
        <%= tweet.user.username %> retweeted this <%= time_ago_in_words(tweet.created_at) %> ago
      </span>
    </div>
  <% end %>

  <div class="tweet-content">
    <div class="tweet-header-container">
      <div class="tweet-header-content">
        <span class="tweet-author">
          <% if tweet.is_retweet?%>
            <%= tweet.original_tweet.user.username %>
          <% else %>
            <%= tweet.user.username %>
          <% end %>
        </span>
        <span class="tweet-time">·
          <% if tweet.is_retweet?%>
            <%= time_ago_in_words(tweet.original_tweet.created_at) %>
          <% else %>
            <%= time_ago_in_words(tweet.created_at) %>
          <% end %>
          ago
        </span>
        <% if tweet.updated_at != tweet.created_at %>
          <span class="tweet-edited">· edited</span>
        <% end %>
      </div>
    </div>

    <% if tweet.is_quote? %>
      <div class="quote-tweet-content">
        <p class="tweet-body">
          <%= tweet.body %>
        </p>
      </div>
      <%= link_to tweet_path(tweet.original_tweet), class: "original-tweet-container" do %>
        <div class="original-tweet-header">
          <span class="tweet-author"><%= tweet.original_tweet.user.username %></span>
          <span class="tweet-time">· <%= time_ago_in_words(tweet.original_tweet.created_at) %> ago</span>
        </div>
        <p class="original-tweet-body">
          <%= tweet.original_tweet.body %>
        </p>
      <% end %>
    <% else %>
      <p class="tweet-body">
        <% if tweet.is_retweet? %>
          <%= tweet.original_tweet.body %>
        <% else %>
          <%= tweet.body %>
        <% end %>
      </p>
    <% end %>

    <div class="tweet-actions">
      <div class="tweet-action-button">
        <%= button_to "#", method: :post, class: 'tweet-action tweet-comment', title: 'Comment' do %>
          <span class="tweet-action-icon">💬</span>
          <span class="tweet-action-count">12</span>
        <% end %>
      </div>

      <div class="tweet-action-button" data-dropdown-target="container">
        <button type="button"
                class="tweet-action tweet-retweet"
                data-action="click->dropdown#toggle"
                title="Retweet">
          <span class="tweet-action-icon">↪</span>
          <span class="tweet-action-count"><%= tweet.original_tweet.retweet_count %></span>
        </button>

        <div class="share-menu" data-dropdown-target="menu">
          <%= link_to retweet_tweet_path(tweet),
              class: "share-option",
              data: { "turbo-method": :post } do %>
            <span class="share-option-icon">↪</span>
            Retweet
          <% end %>

          <%= link_to new_quote_tweet_path(tweet),
              class: "share-option" do %>
            <span class="share-option-icon">💭</span>
            Quote
          <% end %>
        </div>
      </div>

      <div class="tweet-action-button">
        <%= button_to "#", method: :post, class: 'tweet-action tweet-like', title: 'Like' do %>
          <span class="tweet-action-icon">❤️</span>
          <span class="tweet-action-count">0</span>
        <% end %>
      </div>

      <% if tweet.author?(current_user) %>
        <div class="tweet-action-button">
          <%= link_to edit_tweet_path(tweet), class: 'tweet-action tweet-edit', title: 'Edit Tweet' do %>
            <span class="tweet-action-icon">✏️</span>
          <% end %>
        </div>

        <div class="tweet-action-button">
          <%= button_to tweet_path(tweet), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'tweet-action tweet-delete', title: 'Delete Tweet' do %>
            <span class="tweet-action-icon">🗑️</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</li>
